.card {
  position: relative;
}

.screenshotContainer {
  display: flex;
  gap: var(--spacing-2);
}

.screenshotContainer img {
  max-width: calc(50% - var(--spacing-2) / 2);
  border: 3px solid var(--font-color);
  border-radius: 5px;
  filter: var(--shadow);
}

.paperclip {
  position: absolute;
  top: -35px;
  right: 15px;
  z-index: 10;
}

.paperclip svg {
  width: 35px;
}

.subheading {
  font-style: italic;
}

.footer {
  margin: var(--spacing-1);
  margin-left: 0;
  display: flex;
  column-gap: var(--spacing-2);
  position: absolute;
  top: calc(100% - var(--line-height) * 2);
  z-index: 10001;
}
