.resume {
  text-align: left;
}

.stickyNotes {
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-2);
}

.skillsContainer {
  display: grid;
  grid-template: auto / 1fr 1fr;
  column-gap: var(--line-height);
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.experience header,
.education header {
  display: flex;
  justify-content: space-between;
}
.experience header p,
.education header p {
  font-style: italic;
  text-align: right;
}

.hobbies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

@media (max-width: 812px) {
  .skillsContainer {
    grid-template-columns: 100%;
  }
}

@media (max-width: 600px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }
}
